.Course-1{
    margin-left: 50px;
    margin-right: 50px;
  }
  .Course-2{
    display:flex;
    justify-content: center;
    align-items: center;
  }
  .Course-4, .Course-5 , .Course-7{
     display: flex;
     justify-content: space-between;
     align-items: center;
  }
  